/* Main navbar styles */
.app-navbar {
    box-shadow: 0px -2px 10px rgba(26, 21, 21, 0.1);
    padding: 15px 0; /* Increased padding for better touch targets */
    background-color: rgba(180, 188, 223, 0.904);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Navbar item styles */
.nav-item {
    text-decoration: none;
    color: #333;
    font-size: 14px; /* Increased font size for better readability */
    flex-grow: 1; /* Let items grow to fill available space */
    max-width: 100px; /* Set a max-width to prevent items from becoming too wide */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transitions for hover effects */
}

/* Navbar icon */
.navbar-icon {
    font-size: 30px;
    color: black;
    margin-bottom: 5px; /* Added margin between icon and text */
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover state */
.nav-item:hover .navbar-icon {
    color: #154a83;
    transform: scale(1.1); /* Slight zoom effect on hover */
}

.nav-item:hover .navbar-text {
    color: #154a83;
}

/* Navbar text */
.nav-item .navbar-text {
    font-size: 16px; /* Adjusted font size for better readability */
    color: black;
}

/* Active state for icon and text */
.nav-item.active .navbar-icon,
.nav-item.active .navbar-text {
    color: #4b3f3f;
    border-bottom: 2px solid #4b3f3f; /* Added bottom border to indicate active state */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .app-navbar {
        flex-direction: column;
        padding: 10px;
    }
    .nav-item {
        flex-grow: 1;
        max-width: none; /* Remove max width for smaller screens */
        width: 100%; /* Make navbar items take up full width on smaller screens */
        padding: 10px 0; /* Increase padding for better touch targets */
    }
}
