.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.settings-box {
    background-color: rgba(180, 188, 223, 0.904);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 90%;
    max-width: 400px;
}

.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.settings-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.done-button {
    font-size: 20px;
    font-weight: bold;
    color: #570be4;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.2);
    outline: none;
}
