.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.settings-box {
    background-color: rgba(180, 188, 223, 0.904);
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
}

.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.settings-title {
    font-size: 20px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
}

.done-button {
    font-size: 25px;
    font-weight: bold;
    color: #f30c18;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.form-control:focus {
    border-color:  rgba(0, 123, 255, 0.2);
    outline: none;
}
